body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f5;
}

.main {
    background-color: #f7f7f7;
}

.header-text {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.stButton>button {
    width: 95%;
    height: 60px;
    background-color: #1e88e5;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.stButton>button:hover {
    background-color: #1565c0;
}

.section-heading {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.stTable th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.stTable td {
    font-size: 14px;
    padding: 8px;
    text-align: center;
}
